<!DOCTYPE html>
<html>
    <head>
        {% block header_link_script %}
        <link href="{{ asset('css/front-end/style.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic" rel="stylesheet" type="text/css">		<!-- js -->
        <script src="js/jquery.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="Developer" content="">
        <meta name="date" content="sat, April 9, 2016 04:10">
        <!-- //js -->
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="{{ asset('js/front-end/move-top.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/front-end/easing.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
        {% endblock %}

        {% block title_keywords %}
        <!-- start-smoth-scrolling -->
        <meta name="keywords" content="">
        <title><!--VARIABLE--></title>
        {% endblock %}
    </head>

    {% block body %}
    <body>
    <div class="container">
    <!-- banner -->
    <div class="banner">
        <div class="container">
            {%  block header %}
            <div class="head-logo">
                <a href="{{ path("homepage") }}"><img src="../../images/front-end/logo.png" alt=" "></a>
            </div>
            <div class="top-nav">
                <span class="menu"><img src="../../images/front-end/menu.png" alt=""></span>
                <ul class="nav1">
                    <li><a href="/">HOME</a></li>
                    <li><a href="{{ path("search") }}">SEARCH</a></li>
                    <li><a href="{{ path("submit") }}">SUBMIT</a></li>
                    <li><a href="{{ path("login") }}">LOGIN</a></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
                <script>
                    $( "span.menu" ).click(function() {
                        $( "ul.nav1" ).slideToggle( 2000, function() {
                            // Animation complete.
                        });
                    });

                </script>
            {%  endblock %}
        </div>
        {% block innerbody %}
        <div id="bodycontainer"></div>
        {% endblock %}
    </div>
    </div>
    {% block callback_slider %}{% endblock %}

    {% block footer %}
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-left">
                <img src="../../images/front-end/footer-logo.png" alt=" ">
                <p>Developped by Anselme Nkondog <a href="#">Copyright Lossanci 2016 </a></p>
            </div>
            <div class="footer-right">
                <ul>
                    <li><a href="#" class="footer-fb"> </a></li>
                    <li><a href="#" class="footer-twitter"> </a></li>
                    <li><a href="#" class="footer-in"> </a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    {% endblock %}

    {% block scrolling_icon %}
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    {% endblock %}

    <a style="display: inline;" href="#" id="toTop"><span style="opacity: 0;" id="toTopHover"></span>To Top</a>
    </body>
</html>
{% endblock %}